*{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

.font-a-nav {
    margin-top: 1.5rem;
    font-size: 1.1rem;

}

.navbar {
    transition: all 0.5s;
}

.nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    position: relative;
}

.nav-item.active .nav-link::after,
.navbar-nav .nav-item:hover .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajustez la valeur pour contrôler l'épaisseur de la ligne */
    width: 100%;
    height: 1px; /* Ajustez la valeur pour contrôler l'épaisseur de la ligne */
    background-color: #000; /* Couleur de la ligne */
    transition: bottom 0.3s ease; /* Ajoutez une transition à la propriété bottom */
}

.bg-img{
    height: 100%; 
    width: 100%;
}

.site-footer {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.site-footer h3 {
    color: #333;
}

.site-footer p {
    color: #555;
}

.site-footer ul {
    list-style: none;
    padding: 0;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer ul li a {
    color: #555;
    text-decoration: none;
}

.site-footer ul li a:hover {
    color: #007bff;
    text-decoration: underline;
}

a.text-white {
    position: relative;
    text-decoration: none;
}

a.text-white::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.7s ease-in-out;
}

a.text-white:hover::before {
    width: 100%;
}

.img-zoom{
    transition: 1s;
}

.img-zoom:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
