{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="container my-5 border">
    <h1 class="text-center mb-5">Mentions Légales</h1>
    <p>
        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Philippe Popieul l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>
    <h2>Edition du site</h2>
    <p>
        Le présent site, accessible à l’URL www.philippepopieul.fr (le « Site »), est édité par :
        Philippe Popieul, résidant en Île-de-France, de nationalité Française (France), né(e) le 07/11/1968.
    </p>
    <h2>Hébergement</h2>
    <p>
        Le Site est hébergé par la société 1&1 / IONOS, situé 7 Place de la Gare - 57200 Sarreguemines, (contact téléphonique ou email : (+33) 9 70 80 89 11).
    </p>
    <h2>Directeur de publication</h2>
    <p>
        Le Directeur de la publication du Site est Philippe Popieul.
    </p>
    <h2>Nous contacter</h2>
    <p>
        Par téléphone : +33756807416<br>
        Par email : contact@philippepopieul.fr
    </p>
    <h2>Données personnelles</h2>
    <p>
        Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).
    </p>
</div>
{% endblock %}
